First, we need to install some libraries

**pip install sqlalchemy pandas ipython-sql**

**pip install jupyterlab_sql**

**jupyter serverextension enable jupyterlab_sql --py --sys-prefix**

**jupyter lab build**

**pip install mysql_kernel**

Once you are done installing the libraries then you need to add below command which adds MySQL kernel to jupyter notebook

#### Add kernel to your jupyter:
**python -m mysql_kernel.install**
As of now the configuration to the jupyter is done.

postgres://localhost:5432/postgres
postgres://username:password@localhost:5432/postgres

mysql://user:password@host:port/db_name


select mysql Kernel

In [8]:
mysql://root:root@127.0.0.1:3306/de_interview_questions

In [9]:


SELECT col1, 
       GREATEST(MAX(col2), MAX(col3), MAX(col4), MAX(col5)) AS max_value
FROM your_table
GROUP BY col1;

,col1,max_value
0,A,45
1,B,40

In [10]:
show databases;

,Database
0,de_interview_questions
1,demo
2,information_schema
3,mysql
4,performance_schema
5,powerbi
6,sakila
7,sys
8,world